__mocks__
.github
.vscode
.vscode-test
coverage
jest-setup
node_modules
src
tests
webview-test
.eslintrc
.gitignore
.nvmrc
.prettierrc
jest.config.ts
package-lock.json
svelte.config.js
tailwind.config.js
tsconfig.json
webpack.config.js
webpack.extension.config.js
webpack.webview.config.js
