.vscode/**
.vscode-test/**
out/**
src/**
resources/js
resources/stylesheets
node_modules
.gitignore
**/tsconfig.json
**/tslint.json
**/webpack.config.json
**/*.map
**/*.ts
**/gulpfile.js
**/package-lock.json
