html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: var(--vscode-font-family);
}

img {
  max-height: 40rem;
  max-width: 100%;
}

.snapshot-title {
  position: fixed;
  height: 3rem;
  top: 0;
  left: 0;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  width: 100%;
}

.snapshot-container {
  margin-top: 4.5rem;
  padding: 1rem;
  max-height: calc(100vh - 4rem);
  overflow: auto;
}

.resource-container {
  margin-top: 1rem;
}

.resource-header:first-of-type {
  margin-top: 0;
}

.tab-container {
  overflow: hidden;
  background-color: rgb(216, 216, 216);
}

.tab-button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.75rem;
}

.tab-button.active {
  background-color: rgb(8, 119, 184);
  color: rgb(255, 255, 255);
}

.snapshot-box {
  padding: 2rem;
  object-fit: contain;
  display: none;
}

.snapshot-box.active {
  display: block;
}

.reference-box.active, .latest-box.active, .diff-box.fallback.active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(40rem + 63px);
}

.reference-box > img, .latest-box > img, .diff-box.fallback > img {
  max-height: 40rem;
  max-width: 100%;
}

.diff-image-container {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.diff-image-container > * {
  display: none;
}

.diff-image-container > *.active {
  display: block;
}

.diff-default.active {
  display: flex;
  justify-content: center;
}

.diff-default > img {
  max-height: 40rem;
  max-width: 100%;
  object-fit: contain;
}

.diff-two-up.active {
  display: flex;
  justify-content: center;
}

.diff-two-up > img {
  max-width: 49%;
  max-height: 40rem;
  margin-left: 1%;
  object-fit: contain;
}

.diff-two-up > img:first-of-type {
  margin-right: 1%;
  margin-left: 0;
}

.diff-slide.beer-slider:not(.active) {
  display: none;
}

.diff-slide.beer-slider.active {
  display: flex;
}

.diff-slide.beer-slider > img {
  object-fit: contain;
}

.slide-latest {
  display: flex;
  align-items: center;
}

.diff-onion.active {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.diff-onion-image {
  position: relative;
}

.diff-onion-image > img {
  max-height: 38rem;
}

.diff-onion-image > img:last-of-type {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.onion-slider-input {
  -webkit-appearance: none;
  appearance: none;
  height: 7px;
  width: 90%;
  background-color: rgb(190, 190, 190);
  border-radius: 3px;
  outline: none;
  margin: 0 5%;
}

.onion-slider-input:focus {
  outline: none;
}

.onion-slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(8, 119, 184);
  cursor: pointer;
}

.diff-button-group {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.diff-button {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(126, 126, 126);
  outline: none;
  cursor: pointer;
  padding: 7px;
  margin: 0 5px;
  border-radius: 7px;
}

.diff-button.active {
  background-color: rgb(8, 119, 184);
  color: #fff;
}
